nav a {
    color: crimson;
}

section.about>blockquote {
    background-color:#eaeaea;
}

section.users span {
    font-weight: bold;
}

span:last-child {
    color: crimson;
}

section.creators a {
    font-family: 'Lato',sans-serif;
    text-decoration: none;
}

.creators .link.font {
    font-family: 'PT Serif';
    font-weight: bold;
}

section.cta>h2 {
color: crimson;
font-family: 'Lato';
}

ul li:first-child {
text-decoration: underline;
}

ul li:nth-child(3) {
    text-decoration: underline;
}

nav a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    
}

nav a:after {
    content: "";
    width: 100%;
    position:absolute;
    transform: scaleX(0);
}

nav a:hover {
    transform: scaleX(1);
    transform-origin: left;
    transition: 0.5ms;
}

a {
border-;

}

a {
a;
}